<!DOCTYPE HTML>
<html>
	<head>
    <title>Game | Difficulty choice</title>
    <script type="text/javascript">
	</script>
	</head>
	<body>
		<div><p id="status">Please choose your level of difficulty!</p></div>
		<section class="difForm">
		<ul>
			<form name="login" action="/difficulty" method="post" accept-charset="utf-8">
				<li><button name="diff" value="1"/>Easy</button></li>
			</form>
			<form name="login1" action="/difficulty" method="post" accept-charset="utf-8">
				<li><button name="diff" value="2"/>Medium</button></li>
			</form>
			<form name="login2" action="/difficulty" method="post" accept-charset="utf-8">
				<li><button name="diff" value="3"/>Hard</button></li>
			</form>
		</ul>
		</section>
	</body>
</html>
