<!DOCTYPE HTML>
<html>
	<head>
		<title>Game | Login</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
 		<script language="Javascript" src="/js/animation_login.js"> </script>

</head>
	<body>
		<img id="my_rid_l" src="/images/rideaux.jpg"/>
		<img id="my_rid_r" src="/images/rideaux.jpg"/>
		<div id="glo">
			<div id="my_title">
					<img id="my_title" src="/images/Title.png"/>		
			</div> 
			<div id="my_fdiv">
				<p id="status">Enter user and password to Log-In</p>
				<form id="my_Form" action="/" method="post" accept-charset="utf-8">
					<div id="form">
						<label for="usermail">Email</label>
						<input id="txtUser" type="email" name="user" placeholder="yourname@email.com" required/></br>
						<label for="password">Password</label>
						<input id="txtPass" type="password" name="pass" placeholder="password" required/></br>
						<a href="/register">Register</a>
						<button id="connect"  value="Register" type="submit">Login</button>
					</div>
				</form>
			</div>
		</div>

	</body>
</html>































